:root {
  --grey-color: #757575;
  --black-txt: #212121;
  --button-pink-bgc-color: #f5f4fa;
  --blue-color: #2196f3;
  --footer-header-bgc-color: #2f303a;
  --white-bgc-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0 auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*HEADER */

.logo-webstudio {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2rem;
  color: var(--blue-color);
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo_studio {
  color: black;
}

.navigation {
  display: flex;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-links {
  text-decoration: none;
  color: var(--black-txt);
  font-style: medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 1rem;
  width: 51px;
  height: 16px;
  margin: 32px 46px 32px 32px;
}

.navigation-links:hover {
  color: var(--blue-color);
}

.navigation-links:focus {
  color: var(--blue-color);
}

.mail-tel-container {
  display: flex;
  justify-content: right;
}

.mail_tel_top {
  color: var(--grey-color);
  font-size: 14px;
  line-height: 1.75rem;
  text-decoration: none;
  font-weight: 500;
  margin-inline: 40px;
  margin-right: 227p;
}

.mail_tel_top:hover {
  color: var(--blue-color);
}

header {
  border-bottom: 1px solid;
  border-color: rgba(236, 236, 236, 1);
}
/*END OF HEADER*/

.button-order-service {
  background-color: var(--blue-color);
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-style: bold;
  font-size: 16px;
  line-height: 1.6rem;
  cursor: pointer;
}
.button-order-service:hover {
  transform: scale(1.05);
}

.h1-section {
  background-color: var(--footer-header-bgc-color);
  text-align: center;
  height: 487px;
}

.h1-text {
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  font-family: Roboto;
  padding-top: 162.33px;
  padding-bottom: 24.35px;
  padding-inline: 452p;
}

.atuty-description {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-color);
  text-align: left;
  line-height: 1.46rem;
  vertical-align: top;
  padding-top: 10px;
  margin-right: 30px;
  width: 270px;
}

.atuty {
  color: var(--black-txt);
  font-size: 14px;
  text-align: left;
  vertical-align: top;
}

.assets-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 102px;
}

/* FOOTER */
.footer-container {
  background-color: var(--footer-header-bgc-color);
  display: flex;
  justify-content: center;
}

.footer-text {
  display: flex;
  flex-direction: column;
  height: 252px;
  width: 1200px;
  align-items: flex-start;
  justify-content: center;
}

.footer-adress {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.75rem;
  margin-bottom: 9px;
}

.logo-webstudio-footer {
  font-family: "Raleway";
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: 0, 03em;
  color: var(--blue-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.logo_studio_footer {
  color: rgba(255, 255, 255, 1);
}

.mail_tel_footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.75rem;
  text-decoration: none;
}
/* END OF FOOTER */

ul {
  list-style: none;
}

.what-we-do-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin-inline: auto;
}

.what-we-do-header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 244, 250, 1);
  height: 648px;
  margin: auto;
}

.team-header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.box-for-picture {
  width: 270px;
  height: 368px;
  background-color: var(--white-bgc-color);
  border-radius: 4px;
}

.people {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.job-name {
  color: var(--grey-color);
  font-weight: 400;
  text-align: center;
}

/**PORTFOLIO START**/

.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 8px;
}

.portfolio-button-filter {
  width: 93px;
  height: 38px;
  font-weight: 500;
  border: none;
  color: var(--black-txt);
  background-color: var(--button-pink-bgc-color);
  border-radius: 4px;
  line-height: 1.39rem;
  cursor: pointer;
}
.portfolio-button-filter:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

.name_of_project {
  color: var(--black-txt);
  font-size: 18px;
  letter-spacing: 6%;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
}

.project-description {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing:0.03em;
  line-height: 1.88rem;
  margin-left:24px;
  margin-bottom: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 117px;
  padding-top: 50px;
}

.box-for-project {
  border: 1px solid rgba(238, 238, 238, 1);
}

/**PORTFOLIO END**/
